
@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron">
        <h1 class="display-4">X509 Online</h1>
        <p class="lead">Use X.509 cryptography sharing your public keys from self-signed-certificates.</p>
        <hr class="my-2">
        <p class="card-text">Developers who sign software with self-signed certificates can register their public keys associated to a GitHub account.</p>
        <p class="card-text">Users can search and install developer certificates to enable digital signature verification.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/home/cli" role="button">Learn more</a>
        </p>
        <p class="text-success">Use CertCentral to share the certificates used to sign your MSIX/APPX packages.</p>
    </div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary" style="max-width: 20rem;">
            <div class="card-header"><a href="/home/install">Install</a></div>
            <div class="card-body">
                <h4 class="card-title">To install the CLI tool</h4>
                <p class="card-text">Install <a href="https://dotnet.microsoft.com/download/dotnet-core/2.1">.NET Core SDK 2.1</a>.</p>
                <p class="cmd">dotnet tool install -g dotnet-ccc</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary" style="max-width: 20rem;">
            <div class="card-header"><a href="/home/devs">Developers</a></div>
            <div class="card-body">
                <h4 class="card-title">To share your public keys</h4>
                <p class="card-text"><a href="/home/cli">Create a self signed certificate</a></p>
                <p class="card-text"><a href="/account">Register</a> with your GitHub account. And use your ApiKey to authenticate from the CLI.</p>
                <p class="cmd">ccc login -u USERNAME -k APIKEY</p>
                <p class="card-text">Select and publish a certificate from your CurrentUser\My certificate store.</p>
                <p class="cmd">ccc push</p>
                <p class="card-text"><a href="/account">View and manage your certificates.</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary" style="max-width: 20rem;">
            <div class="card-header"><a href="/home/users">Users</a></div>
            <div class="card-body">
                <h4 class="card-title">To trust certificates</h4>
                <p class="card-text">Trust a certificate by thumbprint (requires elevation).</p>
                <p class="cmd">ccc trust -u USERNAME -t THUMBPRINT</p>
                <p class="card-text">List all registered users.</p>
                <p class="cmd">ccc users</p>
                <p class="card-text">List certificates associated to a user.</p>
                <p class="cmd">ccc certs -u USERNAME</p>
                <p class="card-text">Search by thumbprint.</p>
                <p class="cmd">ccc search -t THUMBPRINT</p>
                <p class="card-text">Query the status of the trusted certificates.</p>
                <p class="cmd">ccc trustedpeople</p>
            </div>
        </div>
    </div>
</div>
