
@{
    ViewData["Title"] = "Install";
}

<h3>How to install</h3>

<p>
    <span class="cmd">ccc</span>is a dotnet global tool, requires the dotnet sdk 2.1 available
    <a href="https://dotnet.microsoft.com/download/dotnet-core/2.1">here</a>.
</p>
<p>
    <span class="cmd">dotnet tool install -g dotnet-ccc</span>
</p>

