
@{
    ViewData["Title"] = "Search";
}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="search-results-users" v-cloack>
    <h2 id="title">Registered Users</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" v-for="user in users">
            <div>
                <img :src="'https://github.com/'+user+'.png'" width="30" height="30" />
                <a :href="'/home/UserCerts/'+user">{{user}}</a>
            </div>
        </li>
    </ul>
</div>



<script>
    function FillUsers(resp) {
        var usersList = JSON.parse(resp);
        var app = new Vue({
            el: '#search-results-users',
            data: {
                users: usersList
            }
        })
    }

    function Get(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200)
            callback(xhr.responseText);
        }
        xhr.open("GET", url);
        xhr.send(null);
    }
    
    Get("/api/cert/getusers", FillUsers);
    
</script>

