
@{
    ViewData["Title"] = "Search";
}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="search-results-users" v-cloak>
    <h2 id="title">Registered Users</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" v-for="user in users">
            <a :href="'/home/UserCerts/'+user">
                
                    <img :src="'https://github.com/'+user+'.png'" width="30" height="30" />  {{user}}
                
            </a>
        </li>
    </ul>
</div>


<script src="~/js/xhr.js"></script>
<script>
    function FillUsers(resp) {
        var usersList = JSON.parse(resp);
        var app = new Vue({
            el: '#search-results-users',
            data: {
                users: usersList
            }
        })
    }
    Get("/api/cert/getusers", FillUsers);
</script>

