@model string;
@{
    ViewData["Title"] = "UserCerts";
}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<h2>Certificates registered to <a href="http://github.com/@Model" target="_blank">GitHub/@Model</a></h2>

<div id="search-results-certs" v-cloak>
    <ul class="list-group">
        <li class="list-group-item  justify-content-between align-items-center" v-for="cert in certs">
            <span class="nav-link warning">
                <img src="~/png/cert.png" width="30" />
                {{cert.subjectName}} [{{cert.thumbPrint}}]
                <span style="float:right">
                    <a :href="'/api/cert/downloadcert?username=' + username + '&thumbprint=' + cert.thumbPrint ">.cer</a> |
                    <a :href="'/api/cert/getusercert?username=' + username + '&thumbprint=' + cert.thumbPrint ">.json</a>
                </span>
            </span>
            <div>
                <p>Add to TrustedPeople</p>
                <p class="cmd">ccc trust -u @Model  -t {{cert.thumbPrint}}</p>
            </div>
            
            
        </li>
    </ul>
</div>

<script src="~/js/xhr.js"></script>
<script>

    function FillCerts(resp) {
        let userCerts = JSON.parse(resp);
        var app = new Vue({
            el: '#search-results-certs',
            data: {
                certs: userCerts
            }
        })
    }
    let username = '@Model';
    Get("/api/cert/GetCertsFromUser/" + username, FillCerts)
</script>


